In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import netCDF4 as nc
from datetime import datetime, timedelta
from netCDF4 import num2date, date2num

file = open('F://Jupyter/Data/1970-2018bst.txt',mode = 'r')

In [80]:
data = pd.read_csv('F://Jupyter/Data/1970-2018bst.csv')
Time = pd.read_csv('F://Jupyter/Data/1970-2018date.csv')

In [57]:
#
data

             date    ID  dateline   lat   lon   pre   name
0           66666  7001        37  7001     0     6  NANCY
1      1970021900     2         2    70  1514  1006    NaN
2      1970021906     2         2    75  1510  1002    NaN
3      1970021912     2         2    80  1505   998    NaN
4      1970021918     2         2    84  1498   992    NaN
...           ...   ...       ...   ...   ...   ...    ...
47919  2018112518     2         3   113  1066  1004     35
47920  2018112600     2         2   114  1059  1008      0
47921  2018112606     2         2   115  1054  1008      0
47922  2018112612     2         2   117  1049  1010      0
47923  2018112618     2         2   120  1040  1010      0

[47924 rows x 7 columns]

In [58]:
data.shape

(47924, 7)

In [62]:
Date =data['date']
Lat = data['lat']
Lon = data['lon']
Date[1]

1970021900

In [91]:
def func(D):
    Date2 = []
    for i in D:
        if i != 66666:
            timeStruct = time.strptime(str(i),"%Y%m%d%H")
            strTime = time.strftime("%Y %m %d %H", timeStruct)
            t = strTime.split()
            T = datetime(int(t[0]),int(t[1]),int(t[2]),int(t[3]))
            unit = 'hours since 1800-01-01 00:00:0.0'
            a = date2num(T,units = unit)
            
            Date2.append(strTime)
    return Date2

In [92]:
date = func(Date)

In [99]:
ID = Time['ID']
days = Time['day']
days

0       37
1       39
2       16
3       46
4       21
        ..
1263    54
1264     8
1265    41
1266    56
1267    19
Name: day, Length: 1268, dtype: int64

In [96]:
date[0:37]

['1970 02 19 00',
 '1970 02 19 06',
 '1970 02 19 12',
 '1970 02 19 18',
 '1970 02 20 00',
 '1970 02 20 06',
 '1970 02 20 12',
 '1970 02 20 18',
 '1970 02 21 00',
 '1970 02 21 06',
 '1970 02 21 12',
 '1970 02 21 18',
 '1970 02 22 00',
 '1970 02 22 06',
 '1970 02 22 12',
 '1970 02 22 18',
 '1970 02 23 00',
 '1970 02 23 06',
 '1970 02 23 12',
 '1970 02 23 18',
 '1970 02 24 00',
 '1970 02 24 06',
 '1970 02 24 12',
 '1970 02 24 18',
 '1970 02 25 00',
 '1970 02 25 06',
 '1970 02 25 12',
 '1970 02 25 18',
 '1970 02 26 00',
 '1970 02 26 06',
 '1970 02 26 12',
 '1970 02 26 18',
 '1970 02 27 00',
 '1970 02 27 06',
 '1970 02 27 12',
 '1970 02 27 18',
 '1970 02 28 00']